body {
    height: 100vh;
    background-image: linear-gradient(30deg, rgb(195, 3, 100) red, yellow);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

div {
    width: 160px;
    height: 160px;
    border: 1px solid;
    border-radius: 5px;

    background-image: linear-gradient(-30deg, green, blue, black);
}

.content-box{
    box-sizing: border-box;
    padding: 4rem;
}

.border-box{
    background-image: linear-gradient(to bottom right, rgb(128, 192, 248), #fff);
    box-sizing: border-box;
    padding: 4rem;
}

.box{
    border-top: 50px solid red;
    border-left: 10px solid green;
    border-right: 15px solid yellow;
    border-bottom: 10px solid black;

    box-sizing: border-box;
}